HTTP_PORT=8084
DATABASE_DSN=host=postgres user=postgres password=postgres dbname=analytics_db port=5432 sslmode=disable
KAFKA_BROKERS=kafka:9092
KAFKA_GROUP_ID=activity-analytics-service
KAFKA_TOPICS=users.events,courses.events,homework.events
ANALYTICS_TOPIC=analytics.events
